html {
  background: var(--Gray-Dark-Default, #030712);
}
a:visited {
  /* Not change color after clicked */
  color: inherit;
}
header {
  display: flex;
  padding: 1rem 5rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: #030712;
}

header h2 {
  color: #f9fafb;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 1.25rem;
  color: #d1d5db;
}

.about {
  display: flex;
  padding: 6rem 5rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  background: var(--Gray-Dark-Default, #030712);
}

.about .container {
  display: flex;
  padding: 0rem 2rem;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 0 0;
  flex-wrap: wrap;
}

.about .container .text {
  display: flex;
  max-width: 48rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  align-self: stretch;
}

.about h1 {
  color: var(--Gray-Dark-900, #f9fafb);

  /* Heading/H1/Bold - Desktop */
  font-family: Inter;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.5rem; /* 120% */
  letter-spacing: -0.075rem;
}

.about p {
  max-width: 48rem;
  color: var(--Gray-Dark-600, #d1d5db);
  /* Body2/Normal - All */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.about .container .image {
  display: flex;
  min-width: 24rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1 0 0;
  align-self: stretch;
}

img.selfie {
  max-width: 17.5rem;
  max-height: 20rem;
  flex-shrink: 0;
  border: 8px solid var(--Gray-Dark-Default, #030712);
  position: relative;
  box-shadow: 1.25rem 1.44rem #374151;
  margin: auto;
}

.skill {
  display: flex;
  padding: 6rem 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--Gray-Dark-Default, #030712);
}

.skill .container .text h2 {
  margin: auto auto;
  max-width: 20%;
  min-width: 10%;
  display: flex;
  padding: 0.25rem 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  background: var(--Gray-Dark-200, #374151);
  color: var(--Gray-Dark-600, #d1d5db);

  /* Body3/Medium - All */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
}

.skill .container .text h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 36rem;
  align-self: stretch;
  color: var(--Gray-Dark-600, #d1d5db);
  text-align: center;
  margin: auto auto;

  /* Subtitle/Normal - Desktop */
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 140% */
}

.skill .container .skill-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

img.skill-icon {
  width: 6rem;
  height: 6rem;
}

.indie-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

.indie-skill p {
  color: var(--Gray-Dark-600, #d1d5db);

  /* Body1/Normal - Dektop */
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 155.556% */
}

.contact {
  background: var(--Gray-Dark-Default, #030712);
}

.contact .container {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
  max-width: 48rem;
  flex-direction: column;
  margin: auto auto;
}

.contact h2 {
  margin: auto auto;
  display: flex;
  padding: 0.25rem 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  background: var(--Gray-Dark-200, #374151);
  color: var(--Gray-Dark-600, #d1d5db);
  max-width: 20%;
  min-width: 10%;

  /* Body3/Medium - All */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
}

img.contact-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  align-self: center;
}

.contact .container h3 {
  color: var(--Gray-Dark-900, #f9fafb);
  text-align: center;

  /* Heading/H2/Semi Bold - Desktop */
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem; /* 111.111% */
  letter-spacing: -0.045rem;
}

.contact-text {
  display: flex;
  gap: 1.25rem;
  margin: auto auto;
}

.contact a:link {
  text-decoration: none;
  color: var(--Gray-Dark-600, #d1d5db);
}

footer {
  color: var(--Gray-Dark-600, #d1d5db);
  display: flex;
  padding: 1.5rem 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--Gray-Dark-Default, #030712);
}
